#panel1{
    -fx-background-color: linear-gradient(to left top, #ffec61, #f321d7);
    -fx-background-radius: 30;
}
#panel1:hover{
    -fx-background-size: 20;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#icon1{
    -fx-background-color: linear-gradient(to left top, #ffec61, #f321d7);
    -fx-background-radius: 100;
}

#panel2{
    -fx-background-color: linear-gradient(to left top, #24ff72, #9a4eff);
    -fx-background-radius: 30;
}
#panel2:hover{
    -fx-background-size: 20;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#icon2{
    -fx-background-color: linear-gradient(to left top, #24ff72, #9a4eff);
    -fx-background-radius: 100;
}
