.table-view .column-header .label{
    -fx-text-fill: WHITE;                /* CAMBIAR EL COLOR DE LOS TITULOS DE COLUMNAS */
    -fx-alignment: CENTER;
}
.table-view .column-header:hover {
    -fx-background-color: linear-gradient(to right , #53e7a1, #3bd3d7);       /* SOMREADO CUANDO PASA EL CURSOS */
}
.table-view .column-header, .table-view .filler {
    -fx-background-color: #0cbec4;       /* CAMBIAR COLOR DE FONDO DE LOS TITULOS DE COLUMNAS*/
    -fx-size: 40;                        /* ANCHO DE L TITULO HEADER */
    -fx-border-color: WHITE;              /* COLOR DE BORDER TITULO HEADER */
    -fx-border-width: 0 0 0 0;           /* TAMAÑO DEL BORDER HEADER */
}
.table-view{
    -fx-background-color: WHITE;
    -fx-background-radius: 20;
}