.table-view .column-header .label{
    -fx-text-fill: WHITE;                /* CAMBIAR EL COLOR DE LOS TITULOS DE COLUMNAS */
    -fx-alignment: CENTER;
}
.table-view .column-header:hover {
    -fx-background-color: linear-gradient(to right , #53e7a1, #3bd3d7);       /* SOMREADO CUANDO PASA EL CURSOS */
}
.table-view .column-header, .table-view .filler {
    -fx-background-color: #0cbec4;       /* CAMBIAR COLOR DE FONDO DE LOS TITULOS DE COLUMNAS*/
    -fx-size: 40;                        /* ANCHO DE L TITULO HEADER */
    -fx-border-color: WHITE;              /* COLOR DE BORDER TITULO HEADER */
    -fx-border-width: 0 0 0 0;           /* TAMAÑO DEL BORDER HEADER */
}
.table-view{
    -fx-background-color: white;
    -fx-background-radius: 20;
}
/* ==========================================================================*/
#btnNew{
    -fx-background-color: linear-gradient(to right top, #0ED786, #0cbec4);
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#btnNew:hover{
    -fx-background-color: linear-gradient(to right top, #53e7a1, #3bd3d7);
    -fx-border-radius: 20;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
#btnEdit{
    -fx-background-color: linear-gradient(to right top, #0ED786, #0cbec4);
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#btnEdit:hover{
    -fx-background-color: linear-gradient(to right top, #53e7a1, #3bd3d7);
    -fx-border-radius: 20;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
#btnDelete{
    -fx-background-color: linear-gradient(to right top, #0ED786, #0cbec4);
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#btnDelete:hover{
    -fx-background-color: linear-gradient(to right top, #53e7a1, #3bd3d7);
    -fx-border-radius: 20;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
#btnRol{
    -fx-background-color: linear-gradient(to right top, #0ED786, #0cbec4);
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: white;
    -fx-font-size: 16;
}
#btnRol:hover{
    -fx-background-color: linear-gradient(to right top, #53e7a1, #3bd3d7);
    -fx-border-radius: 20;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
/* ==========================================================================*/
#btnCloseWindow{
    -fx-background-color: #e54040;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}
#btnCloseWindow:hover{
    -fx-background-color: #e55a5a;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}